body{
    width:800px;
    margin: 0 auto;
    background-color: whitesmoke;
}
#img{
    width: 100%;
    height: 400px;
    margin: 15px;
    background-image: url('dog.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}
#tt {
    text-align: center;
}
ul{
    list-style:none;
}
li{
    float:left;
    margin: 30px;
}
a{
    display:block;
    padding: 10px 20px;
    background-color: cadetblue;
    color: whitesmoke;
}
h3{
    margin: 20px;
    background: mediumturquoise;
    background: linear-gradient(to left, whitesmoke, cadetblue 50%, whitesmoke);
    text-align: center;
}
.at {
    float:left;
    width: 350px;
    height: 200px;
    margin: 10px; padding: 10px;
    border: 1px dashed gray;
    border-radius: 10px;
}
p {
    font-size: 15px;
}

footer {
    background-color: black;
    color: white;
    clear:left;
    margin: 30px;
    text-align: center;
    padding: 10px;
}